/* box-model fix */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* temp wireframe content borders */

html, body,
header, nav, main, aside, section, article, footer, div,
h1, h2, h3, h4, h5, h6, p {
    padding: 1px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}
